/* .card-container{
   max-width: 1240px;
   width: 100%;
}
.card{ 
    background-color: #F3F6FA;
    width: 356px;
    height: 460px;
    box-shadow: -4.21327px 12.6398px 33.7062px rgba(24, 52, 90, 0.25);
} */